@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';
 @import 'tw-animate-css'; 

body.modal-open,
html.modal-open {
  overflow: hidden ;
  height: 100%;
  /* max-width: 100% */
  font:poppins ;
}



/* h1 {
	font-size: 3.2em;
	line-height: 1.1;
} */

/* button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #ffffff;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
} */


/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


*{
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

*::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}
body {
  font-family: 'Inter', sans-serif;
}
/* html, body, #root {
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  margin: 0;
  padding: 0;


} */
